* {
  box-sizing: border-box;
}

.first {
  max-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 // background-color: rgba(0,0,0,0.5);
  overflow: hidden
}

.main__video {
  margin-bottom: 120px;
}

.video__media {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.intro {
 // max-height: 100vh;
  //overflow: hidden;
 // padding-bottom: 50px;
 // margin-bottom: 50px;
}

.content {
  padding-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
   align-items: center;
   justify-content: center;
}

.content__title {
  padding-top: 250px;
  z-index: 10;
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  line-height: 130%; /* 65px */
  @media (max-width: 1496px) {
    padding-top: 180px;
  }
  @media (max-width: 1183px) {
    font-size: 45px;
  }
  @media (max-width: 1068px) {
    font-size: 38px;
  }
  @media (max-width: 906px) {
    font-size: 32px;
  }
  @media (max-width: 503px) {
    font-size: 28px;
  }
  @media (max-width: 370px) {
    font-size: 24px;
  }
}

.content__title:not(:last-child) {
  margin-bottom: 40px;
  @media (max-height: 500px) {
    margin-bottom: 20px
  }
}

.content__title span {
  color: var(--beruz)
}

.content__description {
  z-index: 10;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  line-height: 130%; /* 26px */
  @media (max-width: 1183px) {
    font-size: 18px;
  }
  @media (max-width: 1068px) {
    font-size: 17px;
  }
  @media (max-width: 906px) {
    font-size: 16px;
  }
  @media (max-width: 503px) {
    font-size: 15px;
  }
  @media (max-width: 370px) {
    font-size: 14px;
  }
}

.content__description:not(:last-child) {
  margin-bottom: 70px;
  @media (max-height: 500px) {
    margin-bottom: 20px
  }
}

.content__description span {
  font-weight: 700;
}

.main_btn {
  color: var(--white);
  justify-content: center;
  z-index: 10;
  width: 250px;
  height: 70px;
  background: rgb(13, 188, 218, 0.85);
  box-shadow: 0 1px 10px 0 var(--white);
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid var(--white);
  padding: 15px;
  //margin-bottom: 180px;
  border-radius: 8px;
  transition:
          background-color 0.3s ease 0s,
          color 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      //background-color: var(--beruz);
      box-shadow: 0 1px 10px 0 var(--beruz);
      //color: var(--beruz);
      border: 1px solid var(--beruz)
    }
  }
  @media (max-width: 1183px) {
    width: 240px;
    height: 65px;
    font-size: 17px;
  }
  @media (max-width: 1068px) {
    width: 220px;
    height: 60px;
    font-size: 15px;
  }
  @media (max-width: 906px) {
    width: 200px;
    height: 55px;
    font-size: 14px;
  }
  @media (max-width: 503px) {
    width: 180px;
    height: 50px;
    font-size: 12px;
  }
  //@media (max-width: 370px) {
  //  width: 150px;
  //  height: 30px;
  //  font-size: 18px;
  //}
}

.project__title {
  color: var(--white);
  font-size: 38px;
  font-weight: 700;
  line-height: 130%; /* 65px */
  margin-bottom: 30px;
  @media (max-width: 1183px) {
    font-size: 34px;
  }
  @media (max-width: 1068px) {
    font-size: 31px;
  }
  @media (max-width: 906px) {
    font-size: 28px;
  }
  @media (max-width: 503px) {
    font-size: 24px;
  }
}

.project__title span {
  color: var(--beruz);
}

.project__subtitle {
  text-indent: 50px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%; /* 65px */
  margin-bottom: 30px;
  @media (max-width: 1183px) {
    font-size: 16px;
  }
  @media (max-width: 1068px) {
    font-size: 15px;
  }
  @media (max-width: 906px) {
    font-size: 14px;
    text-indent: 25px;
  }
  @media (max-width: 503px) {
    font-size: 13px;
    text-indent: 10px;
  }
}

.obj_btn {
  color: var(--white);
  width: 250px;
  height: 70px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid var(--white);
  padding: 15px;
  margin-bottom: 90px;
  border-radius: 8px;
  transition:
          background-color 0.3s ease 0s,
          color 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      border: 1px solid var(--beruz)
    }
  }
  @media (max-width: 1183px) {
    width: 240px;
    height: 65px;
    font-size: 13px;
  }
  @media (max-width: 1068px) {
    width: 230px;
    height: 60px;
    font-size: 12px;
  }
  @media (max-width: 906px) {
    width: 220px;
    height: 55px;
    font-size: 11px;
  }
  @media (max-width: 503px) {
    width: 210px;
    height: 50px;
    font-size: 10px;
  }
}

.ocomp_btn {
  color: var(--white);
  opacity: 0.9;
  width: 250px;
  height: 70px;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid var(--white);
  padding: 15px;
  margin-bottom: 60px;
  border-radius: 8px;
  transition:
          background-color 0.3s ease 0s,
          color 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      border: 1px solid var(--beruz)
    }
  }
  @media (max-width: 1183px) {
    width: 240px;
    height: 65px;
    font-size: 13px;
  }
  @media (max-width: 1068px) {
    width: 230px;
    height: 60px;
    font-size: 12px;
  }
  @media (max-width: 906px) {
    width: 220px;
    height: 55px;
    font-size: 11px;
  }
  @media (max-width: 503px) {
    width: 210px;
    height: 50px;
    font-size: 10px;
  }
}