.info {
  //box-shadow: 0 8px 32px 0 var(--beruz);
}

.info__container {
  //box-shadow: 0 8px 32px 0 var(--beruz);
  margin-top: 140px;
  border-radius: 50px;
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur( 15px );
  -webkit-backdrop-filter: blur( 15px );
 // box-shadow: 0 8px 32px 0 var(--beruz);
  padding-bottom: 30px;
  margin-bottom: 30px;
  @media (max-width: 461px) {
    //padding-top: 140px;
    margin-top: 100px;
  }
}

.info__top {
}

.services__container {
  margin-bottom: 30px;
}

.info__top:not(:last-child) {
  margin-bottom: 60px;
}

.info__main_title {
  opacity: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 47px;
  font-weight: 700;
  line-height: 130%; /* 65px */
  @media (max-width: 1080px) {
    font-size: 44px;
  }
  @media (max-width: 926px) {
    font-size: 36px;
  }
  @media (max-width: 799px) {
    font-size: 33px;
  }
  @media (max-width: 569px) {
    font-size: 28px;
  }
}

.info__main_title.active {
  opacity: 1;
  -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.info__main_title span{
  color: var(--beruz);
}

.info__main_title:not(:last-child) {
  margin-bottom: 60px;
}

.services {
  opacity: 0;
}

.services.active {
  opacity: 1;
  -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.info__services_title {
  opacity: 0;
  color: var(--white);
  //text-align: center;
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 700;
  line-height: 130%; /* 65px */
  margin-bottom: 60px;
  @media (max-width: 1080px) {
    font-size: 29px;
  }
  @media (max-width: 926px) {
    font-size: 27px;
    text-align: center;
  }
  @media (max-width: 799px) {
    font-size: 25px;
  }
  @media (max-width: 569px) {
    font-size: 23px;
  }
}

.info__services_title.active {
  opacity: 1;
  -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.info__services {
  color: var(--white);
  font-size: 24px;
  font-weight: 500;
  line-height: 130%; /* 65px */
  margin-bottom: 10px;
  @media (max-width: 1080px) {
    font-size: 22px;
  }
  @media (max-width: 926px) {
    font-size: 20px;
  }
  @media (max-width: 799px) {
    font-size: 18px;
  }
  @media (max-width: 569px) {
    font-size: 16px;
  }
}

.info__services_subtitle {
  color: var(--beruz);
  font-size: 16px;
  font-weight: 100;
  line-height: 130%; /* 65px */
  margin-left: 30px;
  margin-bottom: 30px;
  @media (max-width: 1080px) {
    font-size: 15px;
  }
  @media (max-width: 926px) {
    font-size: 14px;
  }
  @media (max-width: 799px) {
    font-size: 13px;
  }
  //@media (max-width: 569px) {
  //  font-size: 11px;
  //}
}

.info__advantages {
  opacity: 0;
  color: var(--white);
  font-size: 16px;
  font-weight: 100;
  line-height: 130%; /* 65px */
  margin-left: 30px;
  margin-bottom: 30px;
  @media (max-width: 1080px) {
    font-size: 15px;
  }
  @media (max-width: 926px) {
    font-size: 14px;
  }
  @media (max-width: 799px) {
    font-size: 13px;
  }
}

.info__advantages.active {
  opacity: 1;
  -webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.info__advantages-li {
  margin-bottom: 10px;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-9 21:40:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-top {
  0% {
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-9 21:52:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-top
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-12-9 21:58:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

