.background {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 var(--beruz);
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  //border-radius: 10px;
}

.contacts {
  padding-top: 180px;
  @media (max-width: 960px) {
    padding-top: 120px;
  }

  &__container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;

  }
}

.contacts:not(:last-child) {
  margin-bottom: 60px;
}

.contacts__body {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 960px) {
    margin: auto;
  }
}

.contacts__title {
  color: #0DBCDA;
  font-size: 47px;
  font-weight: 700;
  line-height: 130%; /* 65px */
  @media (max-width: 1060px) {
    font-size: 42px;
  }
  @media (max-width: 457px) {
    font-size: 35px;
  }
  @media (max-width: 372px) {
    font-size: 28px;
  }
}

.contacts__connection {
  color: #ffffff;
  font-size: 47px;
  font-weight: 700;
  line-height: 130%; /* 65px */
  margin-bottom: 30px;
  @media (max-width: 1060px) {
    font-size: 42px;
  }
  @media (max-width: 457px) {
    font-size: 35px;
  }
  @media (max-width: 372px) {
    font-size: 28px;
  }
}

.contacts__backconnection {
  max-width: 500px;

  @media (max-width: 1060px) {
    margin: auto;
  }

}


.contacts__title:not(:last-child) {
  margin-bottom: 60px;
}

.contacts__adres {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  @media (max-width: 457px) {
    font-size: 14px;
  }
  @media (max-width: 372px) {
    font-size: 12px;
  }
}

.contacts__adres:not(:last-child) {
  margin-bottom: 60px;
}

.contacts__grafik {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 26px */
  @media (max-width: 457px) {
    font-size: 14px;
  }
  @media (max-width: 372px) {
    font-size: 12px;
  }

}

.contacts__grafik span{
  color: var(--beruz);
}

.contacts__grafik:not(:last-child) {
  margin-bottom: 60px;
}

.contacts__actions {
  display: flex ;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}

.contacts__icon {
  width: 40px;
  height: 40px;
  transition: color 0.3s ease;
  &:hover {
    color: #FFFFFF;
  }
  @media (max-width: 600px) {
    width: 30px;
    height: 30px;
  }
  @media (max-width: 389px) {
    width: 25px;
    height: 25px;
  }
}

.contacts__obertka {
  display: flex;
  gap: 15px 30px;
  justify-content: space-between;
}

.contacts__number {
  display: inline-block;
  color: #FFFFFF;
  font-size: 18px;
  @media (max-width: 600px) {
    font-size: 14px;
  }
  @media (max-width: 389px) {
    font-size: 12px;
  }
  @media (max-width: 346px) {
    font-size: 10px;
  }
}

.contacts__email {
  color: #FFFFFF;
  font-size: 18px;
  @media (max-width: 600px) {
    font-size: 14px;
  }
  @media (max-width: 389px) {
    font-size: 12px;
  }
  @media (max-width: 346px) {
    font-size: 10px;
  }
}

.contacts__rekvizit {
  color: #FFFFFF;
  font-size: 18px;
  @media (max-width: 600px) {
    font-size: 14px;
  }
  @media (max-width: 389px) {
    font-size: 12px;
  }
  @media (max-width: 346px) {
    font-size: 10px;
  }
}

.map__container {
  //margin-bottom: 30px;
  padding-bottom: 30px;
}






