.Box {
  border-color: var(--beruz) !important;
}

.tabs__description {

}

.tabs__tab {
  color: #FFF !important;
  font-size: 18px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 130% !important; /* 26px */
  font-family: 'Montserrat', sans-serif !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--beruz) !important;
  font-weight: 500 !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: var(--beruz) !important;
}

.tabs__content {
  color: #FFF;
  font-size: 20px;
  font-style: initial;
  font-weight: 200;
  line-height: 180%; /* 26px */
  font-family: 'Montserrat', sans-serif !important;
}

