.objects {
  padding-top: 180px;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
  }
}


.objects:not(:last-child) {
  margin-bottom: 60px;
}


.object__title {

}

.object__content {

}

