.objects {
  padding-top: 180px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

  }
}

.object {
  width: calc(33.33% - 10px); // 10px - отступы между картинками
  margin-bottom: 20px; // Вы можете изменить величину отступа по вашему усмотрению
  box-sizing: border-box; // Учтем отступы в расчетах
  flex-basis: calc(33.33% - 10px);

  img {
    width: 100%; // Сделаем картинку 100% ширины контейнера
    height: auto; // Поддерживаем пропорции
    display: block; // Убираем внешние отступы
  }
}

.objects:not(:last-child) {
  margin-bottom: 60px;
}


.object__title {

}

.object__content {

}

