.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.6);
  // box-shadow: 0 1px 10px 0 var(--white);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  &::after {
    content: "";
    display: block;
    border-bottom: 1px var(--beruz) solid;
  }

  &__container {
    max-width: 1400px;
    display: flex;
    column-gap: 15px;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    @media (max-width: 992px) {
      justify-content: start;
      column-gap: 35px;
    }
    @media (max-width: 992px) {
      column-gap: 12px;
    }
  }

  &__logo{
    @media (max-width: 992px) {
      flex: 1 1 100%;
    }
  }


  &__logo-link {

    img {
     // min-width: 50px;
      max-width: 100%;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__phone {
    max-width: 20px;
    margin-right: 15px;
    cursor: pointer;
    //margin-left: 120px;
    @media (max-width: 576px) {
      margin-right: 2px;
      margin-left: 150px;
    }
  }

  &__number {
    white-space: nowrap;
    color: var(--white);
    transition: color 0.3s ease;
    &:hover {
      color: var(--beruz)
    }
    @media (max-width: 576px) {
      display: none;
    }
  }
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  list-style: none;
  display: flex;
  text-align: center;

  @media (min-width: 993px) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 60px;
  }

  @media (max-width: 1080px) {
    column-gap: 20px;
  }
}

.header__nav-item {
  font-size: 16px;
  //text-transform: uppercase;
  line-height: 1;
}

.header__nav-link {
  color: var(--white);
  transition: color 0.3s ease;
  &:hover {
    color: var(--beruz)
  }
}

.links__logo {
  display: none;
  padding-top: 20px;
}

.nav__youtube-logo-link {
  padding-right: 10px;
}

  @media (max-width: 993px) {

    .header__nav {
      opacity: 0;
      z-index: 100;
      position: fixed;
      height: 100vh;
      width: 100vw;
      background: rgb(31, 31, 31, 0.97);
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      .links__logo {
        display: flex;
        align-items: center;
      }
    }

    .header__nav.active {
      //-webkit-animation: scale-in-hor-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      //animation: scale-in-hor-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      transform: translateX(100%);
    }

    //.header__nav.unactive {
    //  -webkit-animation: scale-in-hor-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse backwards;
    //  animation: scale-in-hor-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse backwards;
    //}


    .header__nav-list {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .header__nav-item {
      margin: 10px 0;
      font-weight: 500;
      font-size: 25px;
      @media (max-width: 500px) {
        font-size: 20px;
      }
    }
  }

/* ----------------------------------------------
 * Generated by Animista on 2023-12-10 18:5:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-hor-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

