.footer {
  background-color: #222; /* Цвет фона футера */
  color: #fff; /* Цвет текста */
  padding: 20px 0; /* Внутренний отступ сверху и снизу */
}

.footer__container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  gap: 200px;
  align-items: center;
  margin-bottom: 30px;
  @media (max-width: 1060px) {
    gap: 150px;
  }
  @media (max-width: 965px) {
    gap: 80px;
  }
  @media (max-width: 734px) {
    gap: 30px;
  }
  @media (max-width: 459px) {
    gap: 20px;
  }
 // flex-wrap: wrap;
 // justify-content: space-between;
  //margin: 0 auto; /* Центрирование контейнера на странице */
}

.footer__services {
  color: #b6b5b5;
  width: 100%;
}

.footer__text {
  font-size: 12px;
  margin-bottom: 10px;
  @media (max-width: 965px) {
    font-size: 10px;;
  }
}

.footer__menu-links {
  width: 100%;
}

.footer__menu-item {
  margin-bottom: 20px;
}

.footer__logo {
  margin-bottom: 10px;
}

.footer__actions {
  margin-bottom: 10px;
}

.footer__number,
.footer__email {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer__low {
  color: #b6b5b5;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: 421px) {
    font-size: 10px;;
  }
}

.footer__links {

}

//.footer__link {
//  color: #fff;
//  text-decoration: none;
//  margin-right: 20px;
//  font-size: 14px;
//}
//
//.footer__link:hover {
//  text-decoration: underline;
//}

