.object_info {
  padding-top: 180px;
}

.object_info__container {
}

.object__obertka {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  //gap: 50px;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  @media (max-width: 560px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.object__title {
  color: var(--white);
  font-size: 50px;
  font-weight: 700;
  line-height: 130%; /* 65px */
}

.object__title:not(:last-child) {
  margin-bottom: 60px;
}

.object__tabs {
  color: var(--beruz);
  font-size: 20px;
  font-style: initial;
  font-weight: 500;
  line-height: 180%; /* 26px */
  @media (max-width: 1060px) {
    margin: auto;
  }
}

.object__tab {
  margin-bottom: 30px;
}

.object__tab span{
  color: var(--white);
  font-size: 18px;
  font-weight: 200;
}

.object__image {
  max-width: 580px;
  height: auto;
  width: 100%;
  margin-bottom: 30px;
  @media (max-width: 1060px) {
    margin: auto;
    margin-bottom: 30px;
  }

}