.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  box-shadow: 0 15px 50px rgba(0,0,0,0.3);
  filter: blur(4px);
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-slide img {
  display: block;
  width: 100%;
}

//.testimonialBox {
//  position: relative;
//  width: 100%;
//}
//
//.testimonialBox .quote {
//  position: absolute;
//  opacity: 0.2;
//}

.slider-controler .slider-arrow {
  //background: var(--white);
  //width: 100px;
  //height: 100px;
 // border-radius: 50%;
 // left: 42%;
 // transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.9));
}


.slider-controler .slider-arrow::after {
  content: '';
  fill: #0DBCDA;
}

.swiper-pagination {
  //position: relative;
  //width: 15rem !important;
 // bottom: 1rem;
  //padding-bottom: 30px;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgb(100, 146, 255));
  background: var(--beruz);
  padding-bottom: 5px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--beruz);
}

